/* Targeting the Body*/
body{
    background-color: rgb(241, 241, 241);
}

/* Targeting the first Image*/
#Full-meal{
    height:auto;
    width: 600px; 
    margin-left: 400px;
}

/* Targeting Headings*/
.header{
    text-align: center;
    background-color: black;
    color: white;
    font-size: 40px;
}
.title{
    text-align: center;
    background-color: black;
    color: white;
    font-size: 25px;
}

/*Targeting list*/
.list{
    border:3px solid orange;
}

li{
    padding:3px;
}

