*,
*::before,*::after{
    box-sizing: border-box;
}

* {
    /* outline: 1px solid black; */
}

body {
    background-color: #3AAFA9;
    color: white;
    width: 1000px;
    margin: 0px auto;
}

.title{
    font-size: 60px;
    text-align: center;
}

#calzones{
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    border: 3px double white;
    padding: 10px;
}

#tacos{
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    border: 3px double white;
    padding: 10px;
}

#sandwich{
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    border: 3px double white;
    padding: 10px;
}
