body {
    background-color: rgb(241, 241, 241);
    color: black;
}

#Full-meal{
    height: auto;
    width: 600px;
    margin-left: 350px;
}

.header{
    text-align: center;
    background-color: black;
    color: white;
    font-size: 50px;
}

.title{
    text-align: center;
    background-color: black;
    color: white;
    font-size: 25px;
}

.list{
    border: 3px solid orange;
}

li{
    padding-bottom: 5px; /*Creating space between the list*/
}